*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-tittle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 100px;
    background-color: blue;
    color: blue;
}
.grid-tittle div {
    padding: 70px 0;
    text-align: center;
    font-size: larger;
    background-color: aliceblue;
    justify-content: space-between;
}
.card-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}
.card-2 {
    grid-column: 2;
    grid-row: 1/span2;
}
.card-3{
    grid-column: 3 / span 2;
    grid-row: 1;
}
.card-4 {
    grid-column: 2 / span 2;
    grid-row: 2;
}
.card-5{
    grid-column: 1;
    grid-row: 3;
}
.card-6{
    grid-column:2 ;
    grid-row:3 ;
}
.card-7{
    grid-column:1 / span 2 ;
    grid-row: 4;
}
.card-8{
    grid-column: 3;
    grid-row: 3/ span 2;
}
.card-9{
    grid-column:4 ;
    grid-row:2 /span 2 ;
}
.card-10{
    grid-column: 4;
    grid-row: 4;
}
.card-11{
    grid-column: 1;
    grid-row: 5;
}
.card-12{
    grid-column:2 / span 2 ;
    grid-row:5 ;
}
.card-13{
    grid-column: 4;
    grid-row: 5;
}
.card card-1{
   text-align: justify;
}