*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
.card {
   /* width: 150px;*/
    height: 150px;
    background-color: aliceblue;
    font-size: 24px;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-tittle {
    display: grid;
    grid-template-columns:40% 30% 30%;
    gap: 20px;
  
}
.card-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    z-index: 4;
}
