*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-tittle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    background-color: blue;
    padding: 120px;
}
.card {
    text-align: center;
    font-size: large;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 50px 0;
    color: blue;
}
.card-1 {
   grid-column: 1;
   grid-row: 1;
}
.card-1 {
    grid-template-areas: lorem;
}
.card-2 {
    grid-template-areas: culpa;
}
.card-3{
   grid-template-areas: officia;
}
.card-4 {
    grid-template-areas: mollit;
}
.card-5{
    grid-template-areas: exercitation;
}
.card-6{
    grid-template-areas: magna;
}
.card-7{
    grid-template-areas: ullamco;
}
.card-8{
    grid-template-areas: laboris;
}
.card-9{
    grid-template-areas: fugiat;
}
.card-10{
    grid-template-areas: consectetur;
}
.card-11{
    grid-template-rows: pariatur;
}
.card-12{
    grid-template-areas:dolore ;
}
.card-13{
    grid-template-areas:Excepteur ;
}